body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 40px;
    background-color: #f8f9fa;
}
h1 {
    font-size: 2rem;
    color: #333;
}
.notice {
    font-size: 1rem;
    background-color: #fff;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    padding: 15px;
    width: 250px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}
.highlight {
    color: orange;
    font-weight: bold;
}
.correct {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}
.incorrect {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}
.roman-text {
    display: block;
    font-size: 1.5rem;
    color: gray;
}
.correct-answer {
    background-color: lightgreen !important;
}
.wrong-answer {
    background-color: lightcoral !important;
}

#timer-container {
    width: 60%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
}

#timer-bar {
    height: 100%;
    width: 100%;
    background-color: #007BFF;
    border-radius: 10px;
    transition: width 1s linear, background-color 0.5s;
}